<div class="row">
	<div id="content" class="container">
        <div class="span12">
        	<h1 style="" class="">Kontakta gärna oss</h1>
        </div> 
        <div class="span8">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu turpis est. Cras eget cursus neque. Maecenas at orci arcu, sit amet elementum enim. Sed elit tellus, feugiat ac tincidunt sed, pulvinar et est. Phasellus lectus felis, sagittis id tristique vel, sollicitudin in sapien. Nulla luctus ullamcorper neque, non tempor purus viverra ut. Fusce tristique purus et lacus adipiscing aliquam. Suspendisse suscipit eleifend nisi, interdum porttitor risus iaculis nec.</p>
        </div>
	</div>
</div>
</div> <!-- END CONTAINER IN APPLICATION -->
<div id="content_under">
  <div style="margin-top: 30px;" class="container">
   <div style="margin-left: 43px;" id="description" class="span12">
	<%= form_tag do %>
		<%= text_field_tag "name", nil,  class: "big", placeholder: "Namn", required: true %><br/>
		<%= text_field_tag "email", nil,  class: "big", placeholder: "E-postadress", required: true %><br/>
		<%= text_area_tag  "message", nil,  class: "big", placeholder: "Meddelande" %><br/>
		<%= submit_tag  "Skicka", class: "btn" %><br/>
	<% end %>
	</div>
    <div id="push"></div>
  </div>
</div>
