<div class="row">
	<div id="content" class="container">
     <div id="big_text" class="span12">
          <h1 class="grey"><span class="big">Kontakta oss så kan vi hjälpa dig</h1>
          <p class="large">Internet: idss-design.se</p>
          <p class="large">Email: info@idss-design.se</p>
          <p class="large">Direkt: 0470-12010</p>
          <p class="large black">...eller fyll i formuläret nedan så hör vi av oss.</p>
    </div> 
        </div>
</div>
</div> <!-- END CONTAINER IN APPLICATION -->
<div style="text-align: center;" id="content_under">
  <div style="margin-top: 30px;" class="container">
   <div style="margin-left: 43px;" id="description" class="span12">
	<%= form_tag contacts_path do %>
		<%= text_field_tag "contact[name]", nil,  class: "big", placeholder: "Namn", required: true %><br/>
		<%= text_field_tag "contact[email]", nil,  class: "big", placeholder: "E-postadress", required: true %><br/>
		<%= text_area_tag  "contact[message]", nil,  class: "big", placeholder: "Meddelande" %><br/>
		<%= submit_tag  "Skicka", class: "btn" %><br/>
	<% end %>
	</div>
    <div id="push"></div>
  </div>
</div>
