<div id="information" class="span8">
	<h1>Vi ligger mitt i hjärtat av småland</h1>
	<p>Idss ligger 3 mil utanför Växjö, vi är ett litet företag som fokuserar oss på webblösningar. Allt från applikationer, grafiska profiler till hemsidor.</p>
	<h2>Mycket erfarenhet</h2>
	<p>Erfarenhet är viktigt. Vi som jobbar på idss har minst 8 års erfarenhet om hur webben fungerar. Vi tar ständigt an oss nya utmaningar och håller oss alltid uppdaterade på vad som händer på webben och de nya teknikerna som står och knackar på dörren.</p>
	<h2>Hur man väljer rätt lösning</h2>
	<p>Det är vikitgt att tänka igenom vad man behöver innan man väljer lösning för sitt företag därför kommer lite frågor man bör ställa sig själv.</p>
	<ul>
		<li>Vilka kunder vill företaget nå ut till?</li>
		<li>Ska sidan vara optimerad för google?</li>
		<li>Ska hemsidan vara anpassad för mobila enheter?</li>
	</ul>
	<p>Detta är bara några av de frågor man bör ställa sig själv, kontakta gärna oss och se vad vi kan hjälpa ert företag med.</p>
	<h2>Bra service och bra kontakt</h2>
	<p>Förutom att erbjuda rätt lösning till er är det också vikitgt att ha en öppen dialog. Vi är med er från start till mål tills ni är nöjda.</p>
	<h2>Tveka inte att kontakta oss</h2>
	<p><%= link_to "Kontakta", "" %> gärna oss för att få reda på vad vi kan göra för erat företag.</p>
	</div>
	<div class="span4 offset1"><h4>Vill du har hjälp med din hemsida?</h4>
	<p>Fyll i dina uppgifter nedan så hör vi av oss</p>
	<div class="carbonat">
		<div id="form">
			<%= form_tag "/contact" do %>
			<%= text_field_tag "dasdasd", nil, placeholder: "Kontaktperson...", required: true %>
			<%= text_field_tag "dasdasd", nil, placeholder: "Telefon...", required: true %>
			<%= text_field_tag "dasdasd", nil, placeholder: "Epost...", required: true %>
			<%= submit_tag "Skicka", class: "btn btn-success" %>
			<% end %></div>
	</div>
</div>
